.container {
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.form-container {
    width: 100%;
    display: inline-block;
}

.form-container input, .form-container textarea {
    width: 99%;
    margin: 10px;
}

.posts .post-created {
    text-align: right;
}

.button {
    background-color:#e7e7e7;
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
